body
{
  font:small "Trebuchet MS",Verdana,Arial,Sans-serif;
  font-size: 0.8em;
}

input,textarea
{
  font:small "Trebuchet MS",Verdana,Arial,Sans-serif;
  font-size: 1em;
}

h2
{
  font-size: 1.4em;
}

.logo 
{
  margin-bottom: 1em;
}

.subject
{
  font-weight: bold;
  color: Green;
  font-size: 1.4em;
  margin-bottom: 1em;
}

.entry
{
  margin-bottom: 2em;
  width: 600px;
}

.byline
{
  font-style: italic;
  font-size: 0.6em;
}

.date
{
  color: Green;
  font-weight: bold;
  margin-bottom: 1em;
  display: none;
}

.modifiedon
{
}

.body
{
  margin-bottom: 1em;
}

.comments
{
  font-size: 0.8em;
}

.comment
{
  padding-bottom: 1em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.maincolumn
{
  vertical-align: top;
  width: 650px;
}

.rightcolumn
{
  vertical-align: top;
  padding-left: 50px;
  width: 250px;
}

.BookReview
{
}

.BookReviewImage
{
  float: left;
  margin-right: 10px;
}

.BookReviewTitle
{
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 1em;
}

.ItemDetail
{
  font-size: 1.0em;
}

.ListPrice
{
  text-decoration: line-through;
}

.OurPrice
{
  color: Red;
  font-weight: bold;
}

.ItemCaption
{
  font-weight: Bold;
}

.BuyButton
{
  margin-top: 10px;
}

.ReviewColumn
{
  width: 600px;
  vertical-align: top;
}

.ReviewSidebar
{
  width: 200px;
  vertical-align: top;
  padding-left: 20px;
}

.SimilarItem
{
  font-size: 0.8em;
  margin-bottom: 10px;
}

.ReviewBody
{
  margin-top: 2em;
}

.CustomerReviewSummary 
{
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 1em;
}

.ReviewHeading
{
  font-weight: bold;
  font-size: 1.4em;
  color: Green;
  margin-bottom: 1em;
}

.ReviewSection
{
  margin-bottom: 1em;
}

.GoogleBookAd
{
  margin-top: 2em;
}

.CurrentlyReadingBookImage
{
  margin-bottom: 1em;
}

.BookItemTemplate
{
  vertical-align: top;
}

.SimilarItemRatings
{
  font-size: 0.8em;
}

.Archives
{
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
}

table.BookList tr td
{
  vertical-align: top;
  width: 120px;
  font-size: 0.8em;
  padding-right: 20px;
  padding-bottom: 50px;
}

.BookCategoryTitle
{
  font-size: 1.4em;
  font-weight: bold;
  color: Black;
  margin-bottom: 2em;
}

.InlineGoogleAd
{
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

.GoogleMainPageLeaderBoard
{
  margin-bottom: 20px;
}

.GoogleMainPageAd
{
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

.photo
{
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}