<div class="p_modal" data-posterous-modal-container="true">
  <div class="p_modal_inner">
    <div class="p_modal_header">
      <a href="#" class="p_modal_close" title="Close this dialog">Close this dialog</a>
      <div class="p_modal_title">
        <h1></h1>
      </div>
    </div>
    <div class="p_modal_main clearfix">
      <div class="p_modal_contents"></div>
      <div class="p_modal_loading"><img src="/images/modals/loader.gif" alt="loading" />Loading...</div>
    </div>
    <div class="p_modal_options"></div>
  </div>
</div>