<div class="p_submodal" data-posterous-submodal-container="true">
  <div class="p_submodal_inner">
  <div class="p_submodal_main clearfix">
    <div class="p_submodal_contents"></div>
    <div class="p_modal_loading"><img src="/images/modals/loader.gif" alt="loading" />Loading...</div>
  </div>
  </div>
</div>
